<svg class="icon icon-media">
    <use xlink:href="./images/social-media.svg#icon-pinterest"></use>
  </svg>
  <svg class="icon icon-media">
    <use xlink:href="./images/social-media.svg#icon-twitter"></use>
  </svg>
  <svg class="icon icon-media">
    <use xlink:href="./images/social-media.svg#icon-instagram"></use>
  </svg>
  <svg class="icon icon-media">
    <use xlink:href="./images/social-media.svg#icon-facebook"></use>
  </svg>

  <svg class="icon icon-feature">
    <use xlink:href="./images/feature.svg#icon-fully-customizable"></use>
  </svg>
  <svg class="icon icon-feature">
    <use xlink:href="./images/feature.svg#icon-detailed-records"></use>
  </svg>
  <svg class="icon icon-feature">
    <use xlink:href="./images/feature.svg#icon-brand-recognition"></use>
  </svg>